*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, sans-serif;
}
/* CSS chung */
.row{

}

.col{
    float: left;
}
.col-hafl{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}

.text-center{
    text-align: center !important;
}

.font-size-15{
    font-size: 15px;
    margin-top: 15px;
}



/*Phan header*/
.header{
    height: 46px;
    background: #000;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav{
    display: inline-block;
}
.nav, .sub-nav{
    list-style: none;
}
.nav>li{
    display: inline-block;
    line-height: 46px;
    position: relative;
}
.nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
.nav li a{
    
    text-decoration: none;
    font-size: 15px;
    padding: 0 24px;
    display: inline-block;
}

.nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #888;
}

.nav .sub-nav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
    display: block;
}

.nav .sub-nav li{
    display: block;
    height: 38px;
}

.nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}
.nav .sub-nav li:hover a{
    display: block;
    background-color: #ccc;
}

.nav li:hover .sub-nav{
    display: block;
}

.nav .nav-angle-down{
    font-size: 13px;
}

.header .search-btn{
    float: right;
    padding: 0 21px;
}

.header .search-icon{
    color: #fff;
    line-height: 46px;
}
.header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}


/*Phan slide*/
.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/img/la.jpg') top center / cover no-repeat;
}
.slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.slider .text-heading{
    font-weight: 500;
    font-size:24px;
}
.slider .text-description{
    margin-top: 25px;
    font-size: 16px;
}

.clear{
    clear: both;
}

.content {
    height: 700px;
}
.content .content-section{
    padding: 64px 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content .section-heading{
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}
.content .sub-section-heading{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin: 15px 0;
    font-weight: 400px;
    opacity: 70%;
}
.content .section-about{
    text-align: justify;
    padding: 15px 0;
    font-size: 15px;
    line-height: 1.6;
}

.content .members-list{
    margin-top: 48px;
}

.content .member-name{
    font-size: 15px;
    margin: 15px 0;
}
.content .member-img{
    width: 60%;
    border-radius: 5px;
    margin: 15px 0;
    padding: 0 auto;
    
}
.content .tour-section{
    background-color: #000;
}
.content .content-tour-date{
    color: #fff;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;

}

.tickets-list li{
    color: #757575;
    line-height: 1.8;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background: red;
    color: #fff;
    padding: 4px 5px;
    margin-left: 20px;
}

.tickets-list .quantity{
    background-color: #000;
    padding: 0px 9px;
    border-radius: 50%;
    color: #fff;
    float: right;
}

.tour-contents-list{
    margin: 32px -8px 0;
    background: none;
}

.tour-content-about{
    padding: 0 8px;
}

.tour-img{
    width: 100%;
    display: block;
}
.tour-img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.tour-body{
    background-color: #fff;
    padding: 10px 15px;
    line-height: 1.5;
}

.tour-heading{
    font-weight: 600;
    color: #000;
}

.tour-datetime{
    font-weight: 300;
    color: #ccc;
}

.tour-about{
    font-weight: 400;
    color: #000;
}

.tour-contents-list button{
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    border: none;
}
.tour-contents-list button:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.contact-infor-more p{
    line-height: 1.5;
    font-size: 15px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}

.modal-content {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background: #fff;
    position: relative;
    animation: modalFideIn ease-in .3s;
}
.modal-heading {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.heading-icon{
    margin-right: 20px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    color: #fff;
}
.modal-close:hover {
    opacity: 0.6;
    background-color: #ccc;
    cursor: pointer;
}
.modal-body {
    padding: 16px;
}
.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 13px;
}
.modal-input {
    font-size: 15px;
    border: 1px #ccc solid;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.modal-btn {
    width: 100%;
    background-color: #009688;
    padding: 16px;
    border: none;
    color: #fff;
    font-weight: 700px;
    font-size: 16px;
}
.modal-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal-help {
    padding: 16px 16px 25px;
    text-align: right;
    font-size: 15px;
}
.modal-help a{
    color: #2196F3;
}

@keyframes modalFideIn{
    from{
        transform: translateY(-140px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contact-infor{
    margin: 32px 0;
}
.contact-infor-more i {
    margin-right: 15px;
    line-height: 1.5;
    font-size: 20px;
}
.contact-infor-more p {
    font-weight: 600;
}
.form-name {
    padding: 8px 16px;
    margin: 10px 0;
}

.form-message{
    padding: 8px;
    width: 100%;
    margin: 10px 0;
}
/* .row-submit{
    position: relative;
} */
.form-submit{
    float: right;
}
.form-submit {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    margin: 10px 0;
    border: none;
}
.form-submit:hover {
    background-color: #ccc;
    border: none;
    color: #000;
    cursor: pointer;
}